<div class="my_content_container">
  <div class="all_cheets">
    <% @cheets.each do |cheet| %>
      <div class="individual_cheet">
        <h4><%= cheet.user.email %></h4>
        <p> <%= cheet.entry %></p>
      <div>
    <% end %>
  </div>

  <div class="all_users_box">
    <h4> Users </h4>
    <% @users.each do |user| %>
      <p>
        <% if @current_user.following? user %>
          <%= link_to "Stop Following #{user.email}", stop_following_user_path(id: user.id), method: :post %>
        <% else %>
          <%= link_to "Follow #{user.email}", follow_user_path(id: user.id), method: :post %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
